<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>518802530724-qf6f10r0rk6tmpjhdgou8hsibil6orjg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.518802530724-qf6f10r0rk6tmpjhdgou8hsibil6orjg</string>
	<key>API_KEY</key>
	<string>AIzaSyA5MUe7B-2X5RSqE7dOtzwW4dEszleg-4E</string>
	<key>GCM_SENDER_ID</key>
	<string>518802530724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gb.GBShop-KS</string>
	<key>PROJECT_ID</key>
	<string>gb-shop-81baf</string>
	<key>STORAGE_BUCKET</key>
	<string>gb-shop-81baf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518802530724:ios:4bfb3f3c36f2ed515da131</string>
</dict>
</plist>